[submodule "raphael"]
	path = libraries/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "raphael-svg-import"]
	path = libraries/raphael-svg-import
	url = https://github.com/wout/raphael-svg-import.git
