body, html {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
#storeHeader {
	width: 100%;
	background-image: url('../images/storeTileHeader4.jpg');
	background-repeat: repeat-x;
	height: 132px;
	top: 0px;
	left: 0px;
}
#storeHeader a {
	display: block;
	margin: 0px auto;
	width: 267px;
	height: 132px;
	background-image: url('../images/storeLogoWithFlag.png');
}
#map {
	display: block;
	margin: 20px auto;
	width: 970px;
	height: 500px;
	background-image: url('../images/mapv4_bg.jpg');
}

